@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans+Pinstripe&display=swap");
@import "_titles.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Aboreto", cursive;
  width: 100%;
  padding: 0 8%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 8%;
  font-size: 10px;
  font-weight: 400;
  background-color: white;
  ul {
    width: 33%;
    display: flex;
    flex-direction: row;
  }
  ul:first-child {
    li {
      margin-right: 18px;
    }
  }
  ul:nth-child(2) {
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 10px;
    line-height: 1.5;
    span {
      width: 42px;
      height: inherit;
      letter-spacing: 6px;
    }
    span:nth-child(2) {
      letter-spacing: 22px;
    }
  }
  ul:last-child {
    justify-content: end;
  }
  li {
    list-style-type: none;
    text-transform: uppercase;
  }
}

.nail {
  margin-top: 80px;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1583248369069-9d91f1640fe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 80px;
  h4 {
    @extend %miniTitle;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 25px;
    width: 35%;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.4;
  }
  a {
    width: 10%;
    background-color: white;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    @extend %miniTitle;
    font-size: 10px;
    @extend %titleTransition;
  }
}

.nail-component {
  .wrapper {
    transition: opacity 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
    width: 100%;
    height: 80vh;
    background-color: antiquewhite;
    margin-bottom: 50px;
    display: flex;
    .nail-component__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px;
      text-transform: lowercase;
      text-align: center;
      h4 {
        @extend %miniTitleContent;
        @extend %miniTitle;
        padding-top: 20px;
      }
      h3 {
        @extend %mainContent;
      }
      a {
        border: 2px solid black;
        padding: 20px;
        text-decoration: none;
        color: black;
        @extend %miniTitle;
        @extend %titleTransition;
      }
    }

    & img {
      width: 50%;
      object-fit: cover;
      height: inherit;
    }
  }
}

.nail-shop {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  h3 {
    text-align: center;
    @extend %miniTitleContent;
  }
  h4 {
    @extend %mainContent;
  }
  .nail-shop__items {
    .nail-item {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 40px;
      .img {
        // toDo
        height: 50%;
        width: 100%;
        background-color: black;
        background-size: cover;
        margin-bottom: 60px;
        transition: 0.3s linear, all 0.3s linear;
        &:hover {
          background-color: orange;
        }
      }
      h3 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        margin-bottom: 0;
        letter-spacing: 2px;
        font-size: 10px;
      }
      h4 {
        font-size: 46px;
        margin: 0;
      }
      span {
        margin: 15px 0;
        font-size: 12px;
      }
      a {
        border: 1px solid black;
        padding: 20px 80px;
        text-decoration: none;
        color: black;
        @extend %miniTitle;
        @extend %titleTransition;
      }
    }
  }
}
